<div class="container">
	<div class="row">
		<div class=" center-block">
			<h1 class="col-xs-12">Editing Book</h1>

			<%= render "devise/shared/error_messages", resource: @book %>

			<%= form_for @book do |f| %>

				<div>
					<%= f.label :Title %>
					<%= f.text_field :book_title, class: "field col-xs-12 book_title" %>
				</div>

				<div>
				<%= f.label :Opinion %>
				<%= f.text_area :book_body, class: "field col-xs-12 book_body" %>
				</div>

				<div>
				<%= f.submit "Update Book", class: "actions btn btn-primary col-xs-12" %>
				</div>

			<% end %>

			<div class="col-xs-12">
				<%= link_to "Show", book_path(@book), class: "book_#{@book.id}" %>
				<span>|</span>
				<%= link_to "Back", books_path, class: "back" %>
			</div>
		</div>
	</div>
</div>