
		<div class="col-xs-3">
			<h2>User info</h2>
			 <div>
				 <%= attachment_image_tag(user, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
			 </div>
			 <table class="table">
      				<tr>
    	  				<th>name</th>
    	  				<th><%= user.name %></th>
      				</tr>
      				<tr>
    	  				<th>introduction</th>
    	  				<th><%= user.body %></th>
      				</tr>
			</table>
			<div class="row">
				<% if user == current_user %>
					<%= link_to edit_user_path(user), class: "btn btn-default btn-block edit_user_#{user.id}" do %>
	      				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	      			<% end %>
	      		<% else %>
	      			<%= link_to user_path(current_user), class: "btn btn-default btn-block user_#{current_user.id}" do %>
	      				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	      			<% end %>
	      		<% end %>
      		</div>
      		<h2>New book</h2>
			<%= form_for book do |f| %>

			<%= f.label :title %><br />
			<%= f.text_field :book_title, class: 'field col-xs-12 book_title' %>

			<%= f.label :Opinion %><br />
			<%= f.text_area :book_body, class: 'field col-xs-12 book_body' %>

			<%= f.submit "Create Book", class: ' action submit col-xs-12 btn btn-primary' %>
			<% end %>
		</div>


