<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span class="header-title">Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
         <% if user_signed_in? %>

           <li>
             <%= link_to user_path(current_user.id), class: "home" do  %>
               <i class="glyphicon glyphicon-home"></i>
               <span>&ensp;Home</span>
             <% end %>
           </li>

           <li>
            <%= link_to users_path, class:"users" do %>
            <i class="glyphicon glyphicon-user"></i>
            <span>&ensp;Users</span>
            <% end %>
           </li>

           <li>
            <%= link_to books_path, class:"books" do %>
            <i class="glyphicon glyphicon-book"></i>
            <span>&ensp;Books</span>
            <% end %>
           </li>

           <li>
            <%= link_to destroy_user_session_path, method: :delete, class:"logout" do %>
            <i class="glyphicon glyphicon-log-out">&ensp;logout</i>
            <% end %>
           </li>

         <% else %>
            <li>
              <%= link_to root_path, class: "home" do %>
                <i class="glyphicon glyphicon-home"></i>
                <span>&ensp;Home</span>
              <% end %>
            </li>
            <li>
              <%= link_to books_about_path, class: "about" do %>
                <i class="glyphicon glyphicon-link">&ensp;About</i>
              <% end %>
           </li>

            <li>
              <%= link_to new_user_registration_path, class: "sign_up" do %>
               <i class="glyphicon glyphicon-edit">&ensp;sign up</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: "sign_in" do %>
                <i class="glyphicon glyphicon-log-in">&ensp;login</i>
              <% end %>
            </li>
         <% end %>
      </ul>
    </nav>
  </div>
</header>

    <%= yield %>

<footer class="footer">
  <div class="container ">
    <div class="row col-md-offset-9 col-md-3">
      <p class="text-right">CopyRight Infratop.inc</p>
    </div>
  </div>
</footer>
  </body>
</html>
